h1 {
	color: black;
	font-family: helvetica, sans-serif;
	font-size: 24pt;
}

p {
	color: black;
	font-family: garamond, sans-serif;
	font-size: 12pt;
}

.navbar { /* For the navbar list */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #47505c;
}

li {
	float: left;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 24px;
  padding: 20px;
  text-decoration: none;
}

.navbar a:hover {
	background-color: #2c323a;
}

.header {
	background-color: 
}