h1 {
	color: black;
	font-family: helvetica, sans-serif;
	font-size: 24pt;
}

h2 {
	color: #47505c;
	font-family: Arial, sans-serif;
	font-size: 18pt;
}

p {
	color: black;
	font-family: garamond, sans-serif;
	font-size: 12pt;
}

body {
	background-color: #e2e5e9;
}

.navbar { /* For the navbar list */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #47505c;
}

.navbar a {
  display: block;
  float: left;
  color: white;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
	background-color: #21262b;
	color: black;
}

.active {
	background-color: #00ace6
	color:white;
}

.header {
	background-color: #c6cbd2;
	padding: 15px;
	text-align: left;
}