* {
  box-sizing: border-box;
}

h1 {
	color: black;
	font-family: helvetica, sans-serif;
	font-size: 24pt;
}

h2 {
	color: black;
	font-family: helvetica, sans-serif;
	font-size: 22pt;
}

h3 {
	color: #47505c;
	font-family: helvetica, sans-serif;
	font-size: 18pt;
}

p {
	color: black;
	font-family: garamond, sans-serif;
	font-size: 14pt;
}

body {
	background-color: #e2e5e9;
	margin: 0;
}

.navbar { /* For the navbar */
	display: flex;
	background-color: #47505c;
}

.navbar a { /*navbar links */
  color: white;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  padding: 20px 18px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
	background-color: #c6cbd2;
	color: black;
}

.active {
	background-color: #005ce6;
	color:white;
}

.header {
	background-color: #c6cbd2;
	padding: 25px 50px;
	text-align: left;
}

.header p {
	color: #47505c;
	font-family: Arial, sans-serif;
	font-size: 18pt;
}

.pronouns { 
	color: #47505c;
	font-family: Arial, sans-serif;
	font-size: 18pt;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background-color: #c6cbd2;
	height: 150px;
	text-align: left;
}

.footer p {
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

.footer a { /*For the links in the footer*/
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #005ce6;
	text-decoration: none;
}

.footer a:hover { /* Underline on hover */
	text-decoration: underline;
}

.copyright p { /*Copyright text in footer*/
	font-family: Arial, sans-serif;
	font-size: 10pt;
	opacity: 0.5;
	text-align: center;
}

.pagetitle { /*padding for page titles*/
	padding: 20px 20px 0px 20px;
	text-align: center;
}

.page { /* for the main content of each page */
	display: block;
	max-width: 800px;
	min-height: content;
	margin: 0 auto;
}

.page a { /*link behavior in page paragraphs */
	text-decoration: underline;
	color: #47505c;
}

.page a:hover { /* remove underline and change color */
	text-decoration: none;
	color: #005ce6;
}

.pageimage { /* for page images on their own lines */
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 2px
}

.caption{ /* for picture captions on a page */
	font-family: garamond, sans-serif;
	font-size: 12pt;
	color: #47505c;
	font-style: italic;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
	margin-right: auto;
	margin-left: auto;
}

.row { /* for picture collage */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
}

.row img {
	max-width: 800px;
}

.column { /* for picture collage */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 400px
}